body {
    padding: 10px;
}
  
label {
    margin: 0;
    padding: 0;
    display: inline-block;
}

input, textarea {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

#form-message {
    width: 100%;    
    height: 200px;  
}

button[type="submit"] {
    margin-top: 20px;
}